<a href="https://colab.research.google.com/github/maah-gabs/Python_do_zero/blob/master/Explora%C3%A7%C3%A3o_dos_Dados_com_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Módulo 04: Aula 08 - Exploração dos Dados com Pandas

Com o grande número de dados que estão sendo consumidos, todos os dias, em grande quantidade, saber manipular e interpretar os dados com eficácia. 

A biblioteca *Pandas* consiste em uma das principais bibliotecas do Python para a manipulação dos dados

### Os Dados 

Neste notebook, utilizaremos dados que estão no [Kaggle](https://https://www.kaggle.com/ravels1991/brasil-solicitaes-de-refugiado?). 

Os dados podem ser encontrados [aqui](https://www.kaggle.com/ravels1991/brasil-solicitaes-de-refugiado?).

In [1]:
# Importando os pacotes necessários 
import pandas as pd

In [2]:
# Carregando os dados 
df = pd.read_excel ("https://www.dropbox.com/s/69pajozeme6ezjc/solicitacoes-de-reconhecimento-da-condicao-de-refugiado.xlsx?dl=1")

In [3]:
# visualizando as cinco primeiras entradas
df.head()

  Tipo de Alertas e Restrições Nacionalidade  Mês/Ano  UF  Quantidade
0       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  12/2001  DF           1
1       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  01/2010  DF           1
2       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  03/2010  DF           2
3       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  03/2010  SP           2
4       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  08/2010  DF           1

AO executar a linha que demonstra. Percebemos que as 5 primeiras entradas demonstram que a nacionalidade é Afeganistão, porém, quem são as pessoas quais serão as principais nacionalidades?. Para isso, podemos utilizar a função `.unique ( )`.

In [4]:
# Ver as diferetes nacionalidades
df['Nacionalidade'].unique()

array(['AFEGANISTÃO', 'ALBÂNIA', 'ALEMANHA', 'ANDORRA', 'ANGOLA',
       'APÁTRIDA', 'ARGENTINA', 'ARGÉLIA', 'ARMÊNIA', 'ARÁBIA SAUDITA',
       'AUSTRÁLIA', 'BANGLADESH', 'BARBADOS', 'BAREINE', 'BELARUS',
       'BELIZE', 'BENIN', 'BHUTAN', 'BOLÍVIA', 'BRASIL', 'BULGÁRIA',
       'BURKINA FASO', 'BURUNDI', 'BUTÃO', 'BÉLGICA',
       'BÓSNIA E HERZEGOVINA', 'CABO VERDE', 'CAMARÕES', 'CAMBOJA',
       'CANADÁ', 'CAZAQUISTÃO', 'CHILE', 'CHINA', 'COLÔMBIA', 'CONGO',
       'CORÉIA DO NORTE', 'CORÉIA DO SUL', 'COSTA DO MARFIM',
       'COSTA RICA', 'CROÁCIA', 'CUBA', 'DAOME', 'DINAMARCA', 'DJIBUTI',
       'DOMINICA', 'EGITO', 'EL SALVADOR', 'EMIRADOS ÁRABES', 'EQUADOR',
       'ERITRÉIA', 'ESLOVÁQUIA', 'ESPANHA', 'ESTADOS UNIDOS', 'ESTÔNIA',
       'ETIÓPIA', 'FIJI, ILHAS', 'FILIPINAS', 'FRANÇA', 'GABÃO', 'GANA',
       'GEÓRGIA', 'GRÉCIA', 'GUAM', 'GUATEMALA', 'GUIANA',
       'GUIANA FRANCESA', 'GUINÉ', 'GUINÉ BISSAU', 'GUINÉ EQUATORIAL',
       'GÂMBIA', 'HAITI', 'HONDURAS', 'HUNGRIA', 'INDONÉSIA', 'IRAQUE',
       'IRLANDA', 'IRÃ', 'ISRAEL', 'ITÁLIA', 'IUGUSLAVIA', 'IÊMEN',
       'JAMAICA', 'JAPÃO', 'JORDÂNIA', 'KUAITE', 'LAOS', 'LESOTO',
       'LETÔNIA', 'LIBÉRIA', 'LITUÂNIA', 'LÍBANO', 'LÍBIA',
       'MACAU (R.A.E.)', 'MACEDÔNIA', 'MALGAXE', 'MALI', 'MALTA',
       'MALÁSIA', 'MARROCOS', 'MAURITÂNIA', 'MAURÍCIO', 'MONGÓLIA',
       'MOÇAMBIQUE', 'MYANMAR', 'MÉXICO', 'NACIONALIDADE INDEFINIDA',
       'NAMÍBIA', 'NEPAL', 'NICARÁGUA', 'NIGÉRIA', 'NORUEGA',
       'NOVA ZELÂNDIA', 'NÍGER', 'PALESTINA', 'PANAMÁ', 'PAQUISTÃO',
       'PARAGUAI', 'PAÍSES BAIXOS', 'PERU', 'POLÔNIA', 'PORTUGAL',
       'QUÊNIA', 'REINO UNIDO', 'REP. CENTRO AFRICANA', 'REP. DOMINICANA',
       'REPÚBLICA DEMOCRÁTICA DO CONGO', 'REPÚBLICA TCHECA', 'ROMÊNIA',
       'RUANDA', 'RÚSSIA', 'SAARA OCIDENTAL\n- SAARAUI, REPÚBLICA',
       'SENEGAL', 'SERRA LEOA', 'SOMÁLIA', 'SRI LANKA',
       'ST. PIERRE ET MIQUELON', 'SUDÃO', 'SURINAME', 'SUÉCIA', 'SUÍÇA',
       'SÃO TOMÉ E PRÍNCIPE', 'SÉRVIA', 'SÍRIA', 'TAILÂNDIA', 'TAIWAN',
       'TANZÂNIA', 'TOGO', 'TRINIDAD E TOBAGO', 'TUNÍSIA',
       'TURCOMENISTÃO', 'TURQUIA', 'UCRÂNIA', 'UGANDA', 'UNIÃO SOVIÉTICA',
       'URUGUAI', 'UZBEQUISTÃO', 'VANUATU', 'VATICANO', 'VENEZUELA',
       'VIETNÃ', 'ZAIRE', 'ZIMBÁBUE', 'ZÂMBIA', 'ÁFRICA DO SUL', 'ÍNDIA'],
      dtype=object)

Sabendo com quais países estamos lidando, também somos capazes de visualizar quantos refugiados pertencem a cada países. Para isso, podemos utilizar o método `value_counts ()`.

In [5]:
# Verificando a quantidade de refugiados em um pais 
df["Nacionalidade"].value_counts()

CUBA         887
HAITI        775
VENEZUELA    665
COLÔMBIA     556
SENEGAL      469
            ...
BUTÃO          1
CANADÁ         1
IRLANDA        1
CROÁCIA        1
MONGÓLIA       1
Name: Nacionalidade, Length: 165, dtype: int64

Com a técnica de Slicing que estamos utilizando neste DataSet, também podemos definir uma coluna alvo para melhor manipular, como o exemplo abaixo.

In [6]:
# Verificando apenas os países com mais refugiados no Brasil
df['Nacionalidade'].value_counts()[:10]

CUBA            887
HAITI           775
VENEZUELA       665
COLÔMBIA        556
SENEGAL         469
SÍRIA           466
BANGLADESH      385
GUINÉ BISSAU    371
ANGOLA          343
CONGO           337
Name: Nacionalidade, dtype: int64

In [7]:
# Ver o total de refugiados 
df['Quantidade'].sum()

178037