<a href="https://colab.research.google.com/github/maah-gabs/Python_do_zero/blob/master/inteirovcfloat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modulo 01: Aula 11 - Numeros: Inteiro vs Float

Os números inteiros, conhecemos como o tipo `int` de `integer`, enquanto que os números que carregam uma vírgula ou uma parte fracional como (10.2, 3.3, 5.6, 3.14) são do tipo `float.`

Lembre - se que sempre que você quiser ver o tipo de variável de um dado, basta usar `type ( )`.

No exemplo que veremos abaixo, vamos analisar a variável 5. Porém, já ao visualizar o número, sabemos que o numero 5 é um número inteiro.

In [3]:
#verificando o tipo de variável 5
type(5)

int

Agora, quando acrescentamos valores decimais a essa variável ela se torna um `float`.

In [4]:
# Variável abc representa o número 44.44, que tem parte fracional, portanto, float. 
abc = 44.44
type(abc)

float

Agora, vamos supor que você tenha um número redondo, porém, que está descrito desta forma 5.0. Isso pode causar infinitas dúvidas, pois, mesmo sendo um numero redondo, ele foi descrito com um ponto, demonstrando ser um número fracionado, então, ele será um `float.`

In [5]:
#5.0 é um float
type(5.0)

float

Um ponto importante a se destacar é a de que sempre quando houver uma duvisão, o resultado será sempre um float. Mesmo com o número sendo redondo. Vamos analisar?

In [6]:
# Divisão de Inteiros 
y = 3 / 3
print(y)
type(y)

1.0

float

In [7]:
# Uma divisão, sempre vai retornar um float como resultado 
print(type(3 / 3 ))
print(type(10.0 / 5))
print(type(10.0 / 2.0))

<class 'float'>
<class 'float'>
<class 'float'>

In [8]:
# Uma divisão, sempre vai retornar um float como resultado 
print(type(3 / 3 ))
print(type(10.0 / 5))
print(type(10.0 / 2.0))

<class 'float'>
<class 'float'>
<class 'float'>

Podem existir momentos, em que será necessário realizar a conversão de um float em int ou a ação inversa. Para realizar a transformação de `float` para `int` basta escrever o seguinte código `int ( )`.

In [9]:
#Idade que veio em float 
idade = 27.00
type(idade)

float

In [10]:
#Converter
idade = int(idade)
type(idade)

int

Perceba, novamente, que para a conversão podemos utilizar a função `int ( )` que ao escrever qualquer número float dentro do parenteses, realizará a transformação. Porém, perceba: é importante destacar que essa função **não** realiza o arredondamento do número, veja o exemplo abaixo:

Abaixo, daremos um exemplo utilizando  `float ( )`.

In [11]:
float(5)

5.0

Existe uma forma de realizar uma divisão e manter apenas a parte inteira do resultado, para isso ao invés de utilizarmos apenas ( / ), utilizaremos ( // ).

In [12]:
g = 11 / 3
print(g)
type(g)

3.6666666666666665

float

In [13]:
lh = 11 // 3
print(lh)
type(lh)

3

int

## Exercícios

Agora que vimos um pouco mais sobre inteiros e floats, vamos praticar um pouco.

#### Exercício 1
Transforme o resultado a divisão de inteiros em inteiro.

$$
\begin{aligned}
x & = 25 / 5
\end{aligned}
$$

In [14]:
X = 25 // 5
print(X)
type(X)

5

int

#### Exercício 2
Use a função `type()` para descobrir os tipos das seguintes variáveis:

* x = 33
* y = 33/3
* z = 33.5

In [16]:
x = 33
y = 33 / 3
z = 33.5

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>

#### Exercício 3

Usando as variáveis do exercício anterior, transforme todas elas em int.

In [17]:
x = int(x)
y = int(y)
z = int(z)

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

#### Exercício 3
Usando as variáveis do exercício anterior, transforme todas elas em `float`.

In [18]:
x = float(x)
y = float(y)
z = float(z)

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>