<a href="https://colab.research.google.com/github/maah-gabs/Python_do_zero/blob/master/M1_Aula10_Tipos_de_Vari%C3%A1veis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Modulo 01: Aula 10 - Tipos de Variáveis 

No Python, podemos associar valores a variáveis para que elas possam ser armazenadas e facilmente acessadas quando necessárias durante a manipulação do código. Podemos associar o nome variável como um "nome" ou "apelido" para um determinado objeto que estamos manipulando. Para realizarmos uma associação com a variável é necessário apenas utilizar o operador ( = ).

In [1]:
# Associando o número 300 a variável X
x = 300

Assim que associamos um valor a uma determinada variavel, podemos acessa - la usando o nome que demos, que no caso, x ou utilizando a função `print.`

In [2]:
x

300

In [3]:
print("Numero X:", x)

Numero X: 300

A variável também pode conter palavras e não apenas valores em numeros.

In [4]:
m = "Maria Gabriela"

In [5]:
m

'Maria Gabriela'

In [7]:
print("Valor da Variável:", m)

Valor da Variável: Maria Gabriela

Também é possível acessar um novo valor a essa variável, ou seja, fazendo com que a partir daquilo ela consiga assumir um novo valor.

In [8]:
print("Valor inicial:", x)

#Atribuir novo valor 
x = 100

print("Novo Valor:", x)

Valor inicial: 300
Novo Valor: 100

## Tipos de Variáveis 

Além da utilização dos inteiros ou `integers` também podemos utilizar outros tipos de variáveis como `strings` ou `floats`.

### Integers 

Para utilizar valores inteiros, basta você criar valores sem decimais.

In [9]:
# Integers 
x = 50 
print(x)

50

### Floats 

Os `Floats` são variáveis númericas, porém, são numeros com casas decimais. Porém, tome cuidado a vírgula em Python, serve para enumerar e não para casas decimais. Desta forma, basta associar á variável é necessário ter uma casa decimal.

In [10]:
# Float 
x = 25.0 
print(x)

25.0

### Strings 

As Strings são linguagens natural, utilizando caracteres e palavras. 
Para criar `strings`, precisamos colocar nosso conteúdo entre parenteses.

In [11]:
# Strings 

x = "Data Science é a profissional mais sexy do mundo"
print(x)

Data Science é a profissional mais sexy do mundo

## Verificando o tipo de Variável 

Quando estamos criando nosso banco de dados, é claro que sempre vamos criar as variáveis com os tipos e formas desejadas para evitar erros e trabalho ao manipular esses dados. 

Mas, ao analisarmos grandes bancos de dados, não é comum que essas variáveis estejam em formatos diferentes que não nos dão opção de manipula - las da forma mais adequada. 

Para que sejamos capazes de visualizar o tipo da variável que estamos manipulando, podemo utilizar a função `type ( )`

In [12]:
# Imprimindo a Variável 
x = 100.0
print(x)

#Verificando o tipo da variável 
type(x)

100.0

float

In [13]:
# Imprimindo a Variável 
z = 100
print(z)

#Verificando o tipo da variável 
type(z)

100

int

In [14]:
# Imprimindo a Variável 
w = "100"
print(w)

#Verificando o tipo da variável 
type(w)

100

str

## Criando Variáveis a partir de Variáveis 

Também podemos criar cópias das variáveis, associando novos valores a ela. 
Isso permite com que possamos explorar a variável sem alterar a original.

In [15]:
# Criando uma variável através da variável original
print("Variavel x:", x)

y = x

print("Variavel y:", y)

Variavel x: 100.0
Variavel y: 100.0

Qualquer tipo de variável pode passar pelo processo descrito acima. Também podemos criar uma nova variável a partir uma operação realizada com a variável original.

In [16]:
# Criando uma nova variável a partir de uma operação
x = 10

y = x * 10

print(y)

100

Importante entender que o relacionamento entre as duas acaba no momento em que se realiza a associação. Após isso, elas vão funcionar independentes uma da outra, portanto, alterações são feitas em uma não alterará na outra.

In [17]:
# Criando as variáveis 
print('Criando Variáveis')
x = 10

y = x 

#resultado
print('x:', x)
print('y', y)

print('\nTranformação x = y + 10')
x = y + 10

#Resultado 
print('Novo x:', x)
print('y:', y)

print('\Tranformação y =y/2')
y = y/2

#resultado
print('x:',x)
print('Novo y:', y)

Criando Variáveis
x: 10
y 10

Tranformação x = y + 10
Novo x: 20
y: 10
\Tranformação y =y/2
x: 20
Novo y: 5.0

### Exercicios

Vamos praticar o que aprendemos na aula.

#### Exercício 1

Crie uma variável do tipo `integer`, chamada x, e associe a ela sua idade.

In [24]:
x = 27
print(x)
type(x)

27

int

#### Exercício 2

Crie uma variável do tipo `float`, chamada y, e associe a ela o preço de uma barra de chocolate.

In [26]:
y = 3.49
print(y)
type(y)

3.49

float

#### Exercício 3
Crie uma variável do tipo `string`, chamada `nome` e associe a ela o seu nome.

In [20]:
nome = "Maria Gabriela"
print(nome)
type(nome)

Maria Gabriela

str

#### Exercício 4

Verifique o tipo das variáveis `x`, `y`, `nome`.

Dica: A função print vai ajudar a fazer tudo em uma célula só.

In [27]:
print(type(x))
print(type(y))
print(type(nome))

<class 'int'>
<class 'float'>
<class 'str'>

#### Exercício 5

Crie uma variável que seja que calcule o ano em que você nasceu, utilizando operadores matemáticos e sua variável `x`.

In [25]:
x = 2020 - x
print(x)

1993

### Exercício 6

Crie uma variável para o preço de 3 barras de chocolate, usando a variável `y`.

In [28]:
choc = 3 * y
print(choc)

10.47

### Exercício 7
Crie uma variável que contenha o seu nome 10 vezes, utilizando a variável `nome`.

In [29]:
ten_times = nome * 10
print(ten_times)

Maria GabrielaMaria GabrielaMaria GabrielaMaria GabrielaMaria GabrielaMaria GabrielaMaria GabrielaMaria GabrielaMaria GabrielaMaria Gabriela