<a href="https://colab.research.google.com/github/maah-gabs/Python_do_zero/blob/master/Manipulando_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 02: Aula 09 - Manipulando Strings 

Continuando a falar sobre Strings

## Função `len ( ) `

Você tem uma variável em formato string e você quer saber o tamanho dela. Basta utilizar a função `len ( )`. AO executar a célula, ela retornará um valor do tipo inteiro.

In [1]:
# Verificar o tamnho de uma sequencia de DNA 
dna = 'ATGCGGACCTAT'

len(dna)

12

In [2]:
#Verificando o tipo da variável 
type(dna)

str

## Função `split ( ) `

Esta funçãop é utilizada quando você deseja separar as strings baseansdo - sem sempre em um delimitador. A variável de exemplo que definiremos abaixo está com 3 nomes. Para extrair esses nomes, basta executar a função `split ( )` e o Python retornará uma lista com 3 nomes.

In [5]:
nomes = 'Maria Gabriela, Vitória, Samuel'
nomes.split(',') #virgula consiste no meu delimitador.

'Maria Gabriela'

In [6]:
#Exemplo de como acessar o primeiro nome. 
nomes.split(',')[0]

'Maria Gabriela'

## Função `replace ( ) `

Essa função é utilizada para substituir caracteres que se encontram dentro de uma string. Imagine a situação em que você está lidando com uma tabela do Excel e os valores monetários contém o simbolo do sistema Brasileiro. Nesta ocasição, podemos utilizar o replace ( ) para melhora - la e transforma - la em float.

In [8]:
#Criando uma variável 
valor = "9,50"

#trocando a virugula pelo ponto
float(valor.replace(',', '.'))

9.5

## Função `strip ( )`

Remove os espaços em branco ou caracteres presentes em uma string que são desnecessários . Elimina espaços no começo e no final.

In [9]:
#Criando uma variável 
nome = "     Maria Gabriela     "

#utilizando a função strip
nome.strip()

'Maria Gabriela'

Vamos supor que usamos de exemplo a função replace ( ). Vamos imaginar que importamos os dados e eles estão da seguinte forma: 'R$$ 9,00'. Para convertermos esse valor em em número, precisamos tirar o R$.

In [10]:
"R$ 9,50".strip('R$ ')

'9,50'

In [11]:
"R$ 9,50".strip('R$ ').replace(',','.')

'9.50'

In [12]:
float("R$ 9,50".strip('R$ ').replace(',','.'))

9.5

## Slicing

O Python permite que a gente "corte" as nossas `strings` em uma técnica denominada *Slicing.*

In [14]:
nome = "Maria"

Importante lembrar que a indexação do Python se inicia do zero, certo?

* M  [0]
* A  [1]
* R  [2]
* I  [3]
* A  [4]

Importante também de lembrar que quando utilizamos essa técnica a posição final não é incluida. Ou seja, quando chamamos o slicing da seguinte forma: nome [2:4] o retorno da letra será [2]r [3]i.

In [15]:
nome[0:3]

'Mar'

In [16]:
#Slicing da variável nome 
nome[2:4]

'ri'

Também podemos omitir uma das variáveis, e isso fará com que o slicing comece desde o primeiro index, e termine no último.

In [17]:
#slicing do começo ao 4. 
nome[:4]

'Mari'

In [18]:
#Slicing 2 ao fim 
nome[2:]

'ria'

Lembre - se que podemos adicionar strings fazendo uso da função slicing

In [20]:
print('Nome Completo:', nome)
print('Primeira Parte:', nome[:3])
print('Segunda Parte:', nome[3:])
print('Nome feito adicionando Slices:', nome[:3] + nome[3:])

Nome Completo: Maria
Primeira Parte: Mar
Segunda Parte: ia
Nome feito adicionando Slices: Maria

Ainda discutindo sobre *slices*, também podemos definir um `step`, um passo ou intervalo, para que os caracteres sejam pulados. 

Vamos ver como isso funciona na prática?

In [21]:
#criando uma variável 

num = "123456789"
print(num)

123456789

Essa função do step pode ser usada, por exemplo, caso eu queira mostrar apenas os números impares.

In [23]:
#Slicing de Variável num, começando do primeiro caractere, indo até o último, em step 2, ou seja, mostra um pula um 
num[::2]

'13579'

In [24]:
# Numeros pares 
num[1::2]

'2468'

## Convertendo Strings

Podemos utilizar o Python para converter as strings em maiusculas, minusculas etc. Consiste em um processo bastante útil quando estivermos lidando com `strings`.

In [25]:
#criando uma variável a ser manipulada 
nome = 'josé Santos da Silva'

## Capitalize( ) 
Transforma o primeiro caractere em maiusculo.

In [26]:
nome.capitalize()

'José santos da silva'

## Lower ( ) 

Transforma todos os caracteres em minúscula.

In [27]:
nome.lower()

'josé santos da silva'

## Upper ( ) 
Transforma todos os caracteres em maiuscula.

In [28]:
nome.upper()

'JOSÉ SANTOS DA SILVA'

## Title

Transforma todas as primeiras letras de cada palavra em maiuscula.

In [29]:
nome.title()

'José Santos Da Silva'

## Swapcase
Inverte o que era maiusculo para minusculo e vice versa.

In [30]:
nome.swapcase()

'JOSÉ sANTOS DA sILVA'

# Exercícios 

Vamos praticar?

###Exercicio 01. 

Escreva seu nome e sobrenome, como nos exemplos acima, e imprima ele na tela usando a função `print()`:

In [31]:
print("Maria Gabriela Furlaneto Barros")

Maria Gabriela Furlaneto Barros

### Exercícios 02.
Verifique o tamanho da *string* da variável sha1_hash abaixo:

In [32]:
sha1_hash = "b91552e0b2b2183e85a4371020ab6b9f4ef83ed0"

len(sha1_hash)

40

### Exercício 3

Converta a string `85,00 Kg` em uma variável do tipo float.

In [34]:
float("85,00 kg".strip('kg ').replace(',','.'))

85.0

Exercício 4

Faça o que se pede com a variável em cada uma das células abaixo

In [35]:
#criando a variável
x = "Data, Science, é, demais!"

In [37]:
# a) imprima a quantidade de caracteres na variável x
print(len(x))

25

In [39]:
# b) retire as vírgulas da variável 
x.strip().replace(',', '')

'Data Science é demais!'

In [41]:
# c) imprima apenas os seus caracteres da variável 
print(x[:6])

Data,

In [42]:
# d) Imprima todos os caracteres, mostrando um e pulando um.
print(x[::2])

Dt,Sine ,dmi!

In [45]:
# e) Transforme todas as letras em maiusculas
print(x.upper())

DATA, SCIENCE, É, DEMAIS!

In [46]:
# f) Transforme todas as letras em minusculas 
print(x.lower())

data, science, é, demais!