<a href="https://colab.research.google.com/github/maah-gabs/Python_do_zero/blob/master/Relat%C3%B3rios_Automatizados_SweetViz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 03 - Aula 12 - Analisando Dados para BI (*Business Intelligence*)

A análise exploratória dos dados é extremamente importante para qualquer projeto de dados, pois, uma boa compreensão pode gerar entendimentos e insights valiosos. A Biblioteca Sweet Viz, é capaz de nos ajudar a agilizar o trabalho. Ela é capaz de analisar e criar relatórios sobre os dados de forma automatizada.

## Instalando o Sweet Viz

A Biblioteca Sweet Viz não é uma biblioteca que já está instalada no Python, desta forma, precisamos instalar utilizando a seguinte linha de código. 

`!pip install sweetviz -q`

In [1]:
# Instalando a biblioteca Sweet Viz 
!pip install sweetviz -q

     |████████████████████████████████| 327kB 2.7MB/s
     |████████████████████████████████| 71kB 6.1MB/s

Após baixado, agora é só utilizar a biblioteca.

Agora, vamos imnportar o DataSet que será utilizado, estes dados são provenientes de um e - commerce brasileiro e os dados estão disponíveis no Kaggle

In [11]:
# Importar os pacotes necessários 
import sweetviz
import pandas as pd

In [4]:
# Carregar o DataSet 
dados = pd.read_excel("https://www.dropbox.com/s/6zogl04a1h1sb3d/dados_ecommerce.xlsx?dl=1", sheet_name=None,)

In [5]:
#Visualizar os dados
dados

{'Clientes':                             customer_id  ... customer_state
 0      06b8999e2fba1a1fbc88172c00ba8bc7  ...             SP
 1      18955e83d337fd6b2def6b18a428ac77  ...             SP
 2      4e7b3e00288586ebd08712fdd0374a03  ...             SP
 3      b2b6027bc5c5109e529d4dc6358b12c3  ...             SP
 4      4f2d8ab171c80ec8364f7c12e35b23ad  ...             SP
 ...                                 ...  ...            ...
 99436  17ddf5dd5d51696bb3d7c6291687be6f  ...             SP
 99437  e7b71a9017aa05c9a7fd292d714858e8  ...             SP
 99438  5e28dfe12db7fb50a4b2f691faecea5e  ...             CE
 99439  56b18e2166679b8a959d72dd06da27f9  ...             RS
 99440  274fa6071e5e17fe303b9748641082c8  ...             SP

 [99441 rows x 5 columns],
 'Itens':                                 order_id  order_item_id  ...   price freight_value
 0       00010242fe8c5a6d1ba2dd792cb16214              1  ...   58.90         13.29
 1       00018f77f2f0320c557190d7a144bdd3              1  ...  239.90         19.93
 2       000229ec398224ef6ca0657da4fc703e              1  ...  199.00         17.87
 3       00024acbcdf0a6daa1e931b038114c75              1  ...   12.99         12.79
 4       00042b26cf59d7ce69dfabb4e55b4fd9              1  ...  199.90         18.14
 ...                                  ...            ...  ...     ...           ...
 112645  fffc94f6ce00a00581880bf54a75a037              1  ...  299.99         43.41
 112646  fffcd46ef2263f404302a634eb57f7eb              1  ...  350.00         36.53
 112647  fffce4705a9662cd70adb13d4a31832d              1  ...   99.90         16.95
 112648  fffe18544ffabc95dfada21779c9644f              1  ...   55.99          8.72
 112649  fffe41c64501cc87c801fd61db3f6244              1  ...   43.00         12.79

 [112650 rows x 7 columns],
 'Pagamentos':                                 order_id  ...  payment_value
 0       b81ef226f3fe1789b1e8b2acac839d17  ...          99.33
 1       a9810da82917af2d9aefd1278f1dcfa0  ...          24.39
 2       25e8ea4e93396b6fa0d3dd708e76c1bd  ...          65.71
 3       ba78997921bbcdc1373bb41e913ab953  ...         107.78
 4       42fdf880ba16b47b59251dd489d4441a  ...         128.45
 ...                                  ...  ...            ...
 103881  0406037ad97740d563a178ecc7a2075c  ...         363.31
 103882  7b905861d7c825891d6347454ea7863f  ...          96.80
 103883  32609bbb3dd69b3c066a6860554a77bf  ...          47.77
 103884  b8b61059626efa996a60be9bb9320e10  ...         369.54
 103885  28bbae6599b09d39ca406b747b6632b1  ...         191.58

 [103886 rows x 5 columns]}

Ao exeutar a célula acima, chamando apenas a variável `dados` perceba que a visualização é muito ruim. 
Desta forma, como estamos lidando com um dicionário em que cada aba representa uma chave. Para visualizar quais são essas chaves basta utilizar  comando `.keys( )`.

In [6]:
#Visualizar as abas
dados.keys()

dict_keys(['Clientes', 'Pagamentos', 'Itens'])

Neste momento, vamos analisar apenas a aba clientes. Para selecionar essa aba, é só utilizar o código abaixo com o nome da aba desejada entre aspas.

In [9]:
#Selecionando a aba 'Clientes'
dados['Clientes'].head()

                        customer_id  ... customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7  ...             SP
1  18955e83d337fd6b2def6b18a428ac77  ...             SP
2  4e7b3e00288586ebd08712fdd0374a03  ...             SP
3  b2b6027bc5c5109e529d4dc6358b12c3  ...             SP
4  4f2d8ab171c80ec8364f7c12e35b23ad  ...             SP

[5 rows x 5 columns]

## Utilizando o SweetViz. 

Agora, com os dados carregados e prontos para uso. Podemos utilizar o SweetViz. 

Para que um relatório seja utilizado é necessário criar uma variável e associar a ela a função `analyse()`, qu vai levar o parametro o conjunto de dados que sera analisado.

In [13]:
# Criando o relatório 
relatorio_clientes = sweetviz.analyze(dados['Clientes'])

:FEATURES DONE:                    |█████████████████████| [100%]   00:03  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

Uma vez que a célula acima foi criada é hora de visualizarmos o nosso relatório com o comando show.html( ), é importante passar como parametro o nome do arquivo html a ser criado pelo relatório

In [14]:
#Criando o arquivo html e mostrando o relatório 
relatorio_clientes.show_html("clientes.html")

Report clientes.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.

In [15]:
#Criando relatório da aba Pagamentos
relatorio_pagamentos = sweetviz.analyze(dados['Pagamentos'])

:FEATURES DONE:                    |█████████████████████| [100%]   00:02  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [16]:
relatorio_pagamentos.show_html('pagamentos.html')

Report pagamentos.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.